/**Dit is mijn eigne css bestand**/
body{
  overflow-x: hidden;
}
nav{
  background-color:rgba(15, 22, 38, .4);
  margin-top: -70px;
  overflow: hidden;
  animation: move-in 1s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}
* {
  outline: none !important;
}

.bar{
  display: block;
  height: 3px;
  width: 30px;
  background-color: black;
  opacity: 100%;
  transition: transform 1s ;
}
.navbar-toggler{
  border-width: 0 !important;
}

button[aria-expanded="true"] .bar:first-of-type{
  transform: rotate(45deg) translate(20px,5px);
}
button[aria-expanded="true"] .bar:nth-child(2){
  transform: translate(100px,0);
}
button[aria-expanded="true"] .bar:last-of-type{
  transform: rotate(-45deg) translate(11px,5px);
}
@keyframes move-in {
  from{
    margin-top: -70px;
  }
  to{
    margin-top: 0;
  }
}

.hero {
  /* Sizing */
  width: 100vw;
height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../assets/images/modern.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

#arrow-down {
  color: rgba(15, 22, 38, .4);
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 4s infinite;
  i {
    font-size: 80px; }
  i:hover {
    color: rgba(15, 22, 38, .9);}
}
@keyframes jump {
  0% { top: 0; }
  50% { top: 50px; }
  100% { top: 0; } }

.border-green{

  border: 5px solid green;
}
.wrapper{
  color: white;
}
svg{
  margin-left:-8%;
  width: 300%;
  height: 300%;
  filter: drop-shadow(5px 3px 4px black);
}
.rechthoek-boven{
  width: 372px;
  animation: animate_boven 2s ease;

  @keyframes animate_boven {
    from{
      width: 0px;
    }
    to{
      width: 372px;
    }
  }
}
.rechthoek-onder{
  width: 372px;
  animation: animate_onder 2s ease;



  @keyframes animate_onder {
    from{
      width: 0px;
    }
    to{
      width: 372px;
    }
  }
}
/**MEDIAQUERIES (ALLES WAT GROTER IS DAN MOBILE**/
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {
  .d-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  svg{
    width: 100%;
    height: 100%;
  }
  .wrapper{
    margin-left: 40%;
  }
}

@include media-breakpoint-up(xl) {  }